@model TaskMVC.Dto_s.NotificationModel

<body translate="no">
    <form asp-controller="Product" asp-action="EmailSender" method="post" enctype="multipart/form-data" class="col-md-6" style="margin: 5px auto;">
        <div class="login-box">
            @* <h1>Add</h1> *@
            <form asp-action="EmailSender">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="EmailSender" class="btn btn-primary my-2" />
                </div>
            </form>
            <br />
            <br />
        </div>
    </form>


</body>
