@model TaskMVC.Entity.Product;

<body translate="no">
    <form asp-controller="Product" asp-action="UpdateProduct" method="post" enctype="multipart/form-data" class="col-md-6" style="margin: 5px auto;">
        <div class="login-box">
            <h1>Update</h1>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input name = "Id" asp-for="Id" type="text" id="form1-username" placeholder="Id">
            </div>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input name ="Title" asp-for="Title" type="text" id="form1-username" placeholder="Title">
            </div>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input oninput="this.value = this.value.replace(/[^0-9]/g, '')" name="Quantiy" asp-for="Quantiy" type="number" step="0.01" id="form2-username" placeholder="Quantiy">
            </div>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input oninput="this.value = this.value.replace(/[^0-9]/g, '')" name="Price" asp-for="Price" type="number" step="0.01" id="form3-username" placeholder="Price">
            </div>
            <br/>
            <button asp-controller="Product" asp-action="UpdateProduct" type="submit" class="btn btn-pill btn-outline-info" style="width: 100%;">
                <i class="fa fa-sign-in mr-1"></i> Update
            </button>
        </div>
    </form>
</body>